{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Cześć, dokonaj wrzutki do bazy danych</h1>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Dokonaj się</a>
</div>
{% endblock %}
