{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<div class="container">
    {% if app.user %}
    <h1 class="mt-5">Hello there general {{ app.user.username}}</h1>
    {% else %}
    <h1 class="mt-5">Hello there general Stranger</h1>
    {% endif %}
</div>
{% endblock %}
